@model IEnumerable<Ranking_Estudiantil.Models.Student>

@{
    ViewData["Title"] = "Index";
}




<header>
    <!-- header inner -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <img src="../Images/logoRanking.png"   />
                                <b  >Unidades Academicas</b>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</header>



<p  style=" text-align:center;margin:auto;padding: 5px;">
    <a asp-action="Create">Nuevo Registro</a>
</p>
<form asp-controller="Students" asp-action="Index">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text" />
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark"/>
    </p>
</form>
<body style="background-color: #232323;">
    <table class="table-fill" >
        <thead>
            <tr>
                <th class="text-left">
                    Nombre
                </th>
                <th class="text-left">
                    Apellido Paterno
                </th>
                <th class="text-left">
                    Apellido Materno
                </th>
                <th class="text-left">
                    Rango
                </th>
                <th class="text-left">
                    Puntaje
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody class="table-hover">
            @foreach (var item in Model)
            {
               <tr>
                     <td>
                         @Html.DisplayFor(modelItem => item.PeronStud.FirstName)
                     </td>
                     <td>
                         @Html.DisplayFor(modelItem => item.PeronStud.LastName)
                     </td>
                     <td>
                         @Html.DisplayFor(modelItem => item.PeronStud.SecondLastName)
                     </td>
                     <td>
                        @if(item.Rank == 1)
                        {
                            <p>Bronce</p>
                            
                        }
                          else if (item.Rank == 2)
                        {
                            <p>Plata</p>
                        }
                          else if (item.Rank == 3)
                        {
                            <p>Oro</p>
                        }
                          else if (item.Rank == 4)
                        {
                            <p>Platino</p>
                        }
                          else if (item.Rank == 5)
                        {
                            <p>Diamante</p>
                        }
                    </td>
                     <td>
                         @Html.DisplayFor(modelItem => item.Score)
                     </td>
                     
                     <td>
                         <a asp-controller="Projects" asp-action="Index" asp-route-id="@item.PersonID">Logros</a> |
                         <a asp-action="Edit" asp-route-id="@item.PersonID">Nuevo Logro</a> |
                          <a asp-action="Edit1" asp-route-id="@item.PersonID">Sanciones</a> |
                     </td>
                 </tr>
            }
        </tbody>
    </table>
    <div style="padding:50px">
        <a    href="/Edit1/Index">Regresar</a>
    </div>
</body>

