@model IEnumerable<Ranking_Estudiantil.Models.Student>

@{
    ViewData["Title"] = "Index";
}



<header>
    <!-- header inner -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <img src="../Images/logoRanking.png" alt="#" />
                                <b>PLATINO</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<body style="background-color: #232323;">
    <table class="table-fill">
    <thead>
        <tr>
            
            <th class="text-left">
                Nombre
            </th>
            <th class="text-left">
                Apellido Paterno
            </th>
            <th class="text-left">
                Apellido Materno
            </th>
            <th class="text-left">
                Carrera
            </th>
            <th class="text-left">
               Puntuacion
            </th>
             <th class="text-left">
               Rango
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-hover">
@foreach (var item in Model) {
        <tr>
            <td class="text-left">
                @Html.DisplayFor(modelItem => item.PeronStud.FirstName)
            </td>
            <td class="text-left">
                @Html.DisplayFor(modelItem => item.PeronStud.LastName)
            </td class="text-left">
                   <td>
                @Html.DisplayFor(modelItem => item.PeronStud.SecondLastName)
            </td>
            <td class="text-left">
                @Html.DisplayFor(modelItem => item.career.CareerName)
            </td>
            <td class="text-left">
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td class="text-left">
                  @if(item.Score >= 0 && item.Score <= 100)
                    {
                        <img style="height:100px;width:100px" src="~/Images/PlatinoLaureado.png"/>
                    }else if(item.Score >= 100 && item.Score <= 200)
                    {
                        <img style="height:100px;width:100px" src="~/Images/Platinox2.png"/>
                    }
            </td>
            <td>
                
                <a id="aEdit" asp-action="Details" asp-route-id="@item.PersonID">Informacion</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
 <div style="padding:50px">
        <a    href="/Home/Index">Regresar</a>
    </div>
</body>
