@model IEnumerable<Ranking_Estudiantil.Models.AcademicUnity>

@{
    ViewData["Title"] = "Index";
}

<header>
    <!-- header inner -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <img src="../Images/logoRanking.png" alt="#" />
                                <b>RANKING ESTUDIANTIL</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<h1 style="color:white;">Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<body style="background-color: #232323;">
    <table class="table table-bordered" style="background-color: #232323; color:white; border: 4px solid;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AcademicUnityName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AcademicUnityName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AcademicUnityID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.AcademicUnityID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.AcademicUnityID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a class="btn btn-dark" href="/Edit1/Index">Regresar</a>
    </div>
</body>

