@model IEnumerable<Ranking_Estudiantil.Models.Career>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CareerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CareerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CareerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CareerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CareerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
